.about-us--content {

	font-size:16px;
	font-family:$theme-font-family-secondary;
	padding:$theme-spacing-m ($column-gutter / 2);

}

.page-content {

	.page-template-template-about-us & {

		background: $theme-color-quarternary;

	}

}