// Override default page layout
.page-template-template-contact .page-main .page-content {

	@include grid-column($columns:12, $collapse:true);

	@media #{$medium-up} {

		@include grid-column($columns:12, $collapse:true, $push:0);

	}

}

.contact--tools {

	@include grid-row();
	margin-bottom:30px;

	.contact--tools--module--hours {

		@include grid-column($columns:12);
		border-color:#231f20;
		

		@media #{$medium-up} {
			
			@include grid-column($columns:3);
			border-width:0 1px 0 0;

		}

		

	}

	.contact--tools--module--directions {

		@include grid-column($columns:12);
		border-color:#231f20;
		border-style: solid;
		border-width:0 0 1px 0;

		@media #{$medium-up} {

			@include grid-column($columns:5);
			border-width:0 1px 0 0;

		}

		
	
	}

	.contact--tools--module--parking {

		@include grid-column($columns:12);
		border-width:0 0 1px 0;
		
		@media #{$medium-up} {

			@include grid-column($columns:4);
			border-width: 0;

		}

	}

}

.contact--tools--module {
	
	background:$theme-color-quinary;
	padding-top:30px;
	padding-bottom:30px;
	border-style: solid;
	border-width:0 0 1px 0;

}

.contact--tools--parking {
	
	padding:0 30px;

}

.contact--tools--parking--title {
	
	text-transform: uppercase;
	color:$theme-color-primary;
	font-size:16px;

}

.contact--tools--parking p {

	font-family:$theme-font-family-secondary;
	letter-spacing:$theme-font-family-secondary-letter-spacing;
	font-size:12px;

	a {
		
		color:$theme-color-primary;
		font-style: italic;

	}

}

.contact--tools--parking p:last-child {
	
	margin-bottom:0px;

}

.contact--info {
	
	@include grid-row();

	.contact--info--module {

		@include grid-column($columns:12);
		margin-bottom:20px;

		@media #{$medium-up} {
		
			@include grid-column($columns:6);

		}

	}

}


.contact--details {

	font-size:14px;
	font-family: $theme-font-family-secondary;
letter-spacing: $theme-font-family-secondary-letter-spacing;
	color:$theme-color-tertiary;

	p {

		font-size: inherit;
		font-family: inherit;

	}

	a {
		
		color:$theme-color-primary;

	}

	h1 {

		text-transform: uppercase;
		color:$theme-color-primary;
		font-size: 16px;

		a {
			
			color:inherit;

		}

	}

}

.contact--details--entry {
	
	@extend .editor-styles;
	color:$theme-color-base-inverse;
	font-size:18px;


	p {

		font-size: inherit;
		
	}
	

}

.contact--details--email {

	margin-bottom:30px;

	a {

		@include background-image($background-size:20px 20px, $background-position:center right, $hide-inner:false);
		@extend .background-image--mail--light-gray;
		
		display: inline-block;
		padding-right:30px;

		&:hover {
			
			@extend .background-image--mail--dark-gray;

		}

	}

}

.contact--details--emergency {
	
	margin-bottom:30px;

}

.contact--details--pet-photo {
	
	margin-bottom:30px;

}