// Fix admin bar on mobile with foundation
@media screen and (max-width: 600px){
  
  #wpadminbar {position: fixed !important; }

}

// Turn off extra boldness on fonts
body {

	-webkit-font-smoothing:antialiased;

}

.heading-style-one {
	
	@include background-image($background-size:51px 4px, $background-position: center bottom, $hide-inner:false);
	@extend .background-image--heading-underline;

	color:$theme-color-primary;
	font-size:31px;
	font-family: $theme-font-family-tertiary;
	text-align: center;
	font-weight: normal;
	padding:0 0 15px 0;
	margin:0 0 30px 0;

}

.banner-column-gutter-offset {
	
	margin:0 -0.5 * $column-gutter 20px;

	img {
		
		max-width: 100%;
		width:100%;
		height:auto;

	}

}

input[type="text"] {
	
	border:1px solid $theme-color-tertiary;
	box-shadow: none;

}