.hours {

	background-color:$theme-color-secondary;
	color:$theme-color-base;
	text-transform: uppercase;
	padding:$theme-spacing-m;

	h1 {
		
		color:inherit;
		text-transform: inherit;
		font-size:15px;
		text-align: center;
		margin:0 0 7px 0;

	}

}

.hours--list {
	
	@extend .no-bullet;
	font-size:11px;
	line-height:13px;
	margin:0 0 $theme-spacing-s 0;

	>li {
		
		@include clearfix();

	}

}

.hours--day {

	display: block;
	text-align: center;

	@media #{$large-up} {

		padding-right:10px;
		text-align: right;
		float:left;
		width:40%;

	}


}

.hours--times {

	display: block;
	margin-bottom:10px;
	text-align: center;
	
	@media #{$large-up} {
	
		float:left;
		width:60%;
		text-align: left;
		padding-left:10px;
		margin-bottom:0px;

	}


}

.hours--extra {
	
	font-size: 10px;
	text-transform: uppercase;
	line-height:$theme-font-size-xs+2px;
	text-align: center;
	margin:0;

}