.main-menu {

	@extend .inline-list;

	text-transform:uppercase;
	color:$theme-color-tertiary;
	font-family: $theme-font-family-secondary;
	font-size: 13px;
	margin-left:0px;
	margin-bottom:0px;

	> li {

		margin-left:0px;
		margin-right:26px;
		padding:8px 12px;

		border-bottom:5px solid transparent;

		&:hover, &.current-menu-item {
		
			border-bottom-color: $theme-color-primary;
		
		}

	}

	a {
		color:inherit;
	}

	.page-footer--menu & {

		color:$theme-color-primary;

		> li {
			
			border-bottom:none;

			&:hover, &.current-menu-item {

				border-bottom:none;

			}

		}

	}

}