.page-header {

	@include grid-row();
	background:$theme-color-base;

	.page-header--contact {

		@include grid-column($columns:12);

		@media #{$medium-up} {
			
			@include grid-column($columns:3);

		}

	}

	.page-header--main {

		@include grid-column($columns:12, $collapse:true);

		@media #{$medium-up} {
		
			@include grid-column($columns:9);

		}

	}

}

.page-header--contact {

	background:$theme-color-quarternary;
	padding-top:$theme-spacing-l;
	padding-bottom:$theme-spacing-l;
	text-transform: uppercase;
	text-align: center;
	font-style: normal;

	address {
		font-style: inherit;
	}

	a {
		color:inherit;
	}

	p {

		&:last-child
		{
			margin-bottom:0px;
		}
	}

}

.page-header--address {

	font-size:14px;
	line-height:16px;

}

.page-header--emergency-info {

	font-size:12px;
	line-height:16px;

}

.page-header--address {
	
	margin-bottom:32px;

}

.page-header--emergency-info {

	margin-bottom:0px;

}

.page-header--main {

	padding-top:$theme-spacing-l;
	
	@media #{$medium-up} {
	
		padding-bottom:$theme-spacing-l;

	}

}

.page-header--main--wrapper {

	position:relative;
	height: 100%;

	.page-header--social-menu {
		
		margin:0 auto;

		@media #{$medium-up} {
	
			position: absolute;
			top:0px;
			right:0px;

		}

	}

	.page-header--menu {

		@media #{$medium-up}
		{
			margin-top:30px; // line up with "in case of emergency" text
		}

	}

}

.page-header--menu .page-header--mobile-menu-toggle {

	display: block;
	text-align: center;
	color:$theme-color-tertiary;
	text-transform: uppercase;
	border:1px solid #CCC;
	border-left:0px;
	border-right:0px;

	html.no-js & {
		
		display: none;

	}

	@media #{$medium-up} {
	
		display: none;

	}
	

}

.page-header--title a {

	@include background-image();
	@extend .background-image--fhac-logo;
	
	
	width:200px;
	height:58px;
	max-width:100%;
	margin:0 auto 20px auto;

	@media #{$medium-up} {

		margin:0px;

	}

}