.page-footer {
	
	@include grid-row();

	.page-footer--content {

		@include grid-column($columns:12, $collapse:true);

	}

}

.page-footer--menus {
	
	background:$theme-color-secondary;
	position: relative;

}



.page-footer--social-menu {
	
	position:absolute;
	top:0px;
	right:0px;
	padding:10px 20px 10px 0;

}

.page-footer--contact {
	
	@include grid-row();

	.page-footer--extended-logo-area {

		@include grid-column($columns:12);

		@media #{$medium-up} {

			@include grid-column($columns:6);

		}

	}

	.page-footer--reach-out-area {

		@include grid-column($columns:12);

		@media #{$medium-up} {
			
			@include grid-column($columns:6);

		}

	}

}

.page-footer--contact {

	padding-top:35px;

}

.page-footer--extended-logo {
	
	@extend .background-image--fhac-extended-logo;
	@include background-image();
	height:153px;
	width:444px;
	max-width: 100%;

}

.page-footer--reach-out-area {

	padding-top:35px;
	
}

.page-footer--credits {

	@include grid-row();

	.page-footer--credits--text {

		@include grid-column($columns:12);

	}

}

.page-footer--credits {

	text-align: left;
	background-color: $theme-color-secondary;
	padding: 15px 0 15px 0;
	font-family:$theme-font-family-secondary;
	font-size:12px;
	color:#FFF;

	@media #{$medium-up} {
	
		text-align: right;
	
	}

	p {
		font-family: inherit;
		font-size: inherit;
		color:inherit;
		margin:0px;
		
	}

	a {

		color:inherit;
		display: inline-block;
		padding:5px 0;
		border-bottom:4px solid $theme-color-primary;

	}

}