.parent-page-section--banner {

	@extend .banner-column-gutter-offset;
	
}

.parent-page-section--title {

	margin-bottom:10px;
	font-size:16px;
	text-transform: uppercase;
	color:$theme-color-primary;

}

.parent-page-section--content {

	font-family:$theme-font-family-secondary;
	letter-spacing:$theme-font-family-secondary-letter-spacing;
	font-size:16px;

	p {
		
		font-size: inherit;

		&:last-child {

			margin-bottom: 0px;

		}

	}

	ul, ol {
		
		font-size:inherit;

	}

}

.parent-page-section--back {
	
	font-family: $theme-font-family-secondary;
letter-spacing: $theme-font-family-secondary-letter-spacing;
	font-size:14px;
	font-style: italic;
	color:$theme-color-primary;

	a {

		font-family: inherit;
		color:inherit;

	}

}