.reach-out--title {
	
	color:$theme-color-primary;
	font-size:16px;
	text-transform: uppercase;
	border-bottom:1px solid #cccccc;
	padding:0 50px;

}

.reach-out--contacts {

	font-family:$theme-font-family-secondary;
	font-size:14px;
	text-transform: uppercase;
	color:$theme-color-tertiary;
	padding:0 50px 10px 50px;
	border-bottom:1px solid #cccccc;

	p {
		
		font-size:inherit;
		margin:0;

	}

}


.reach-out--contacts {

	@include clearfix();

	.reach-out--contacts--reception {

		float:left;
		width:50%;
		padding-right:10px;

	}

	.reach-out--contacts--emergency {

		float:left;
		width:50%;
		padding-left:10px;

	}

}

.reach-out--contacts--emergency--call {
	text-transform: none;
}

.reach-out--contact-us {
	
	font-family:$theme-font-family-secondary;
	font-size:14px;
	color:$theme-color-tertiary;
	padding:5px 50px;

	a {

		color:inherit;

	}

}