.social-menu {

	ul {

		margin:0px;
		list-style: none;

	}

	.social-menu--container--link > a {
			
		display: none;

	}

	.social-menu--networks {

		@include clearfix();
		margin:0 auto;
		width:32 * 4px;

	}

	.social-menu--network {

		float:left;
		clear:none;
		height:32px;
		width:32px;

	}

	.social-menu--network a {

		display: block;
		height:100%;
		width:100%;

	}

	.social-menu--network--twitter a {
		
		@extend .background-image--twitter--gray;

		&:hover {

			@extend .background-image--twitter--gold;

		}

	}


	.social-menu--network--facebook a {
		
		@extend .background-image--facebook--gray;

		&:hover {

			@extend .background-image--facebook--gold;

		}

	}


	.social-menu--network--plus a {
		
		@extend .background-image--plus--gray;

		&:hover {

			@extend .background-image--plus--gold;

		}

	}

	.social-menu--network--blog a {
		
		@extend .background-image--blog--gray;

		&:hover {

			@extend .background-image--blog--gold;

		}

	}

	@media #{$small-only} {
		
		.social-menu--network a {

			@include background-image($background-size:60% 60%, $background-position:center center, $hide-inner:true);

		}

	}

	@media #{$medium-up} {

		@include dropdown-menu($z-index:3, $width:140px, $float:right);

		.social-menu--container--link {	

			> a {

				@include background-image();
				@extend .background-image--follow--gray;

				height:26px;
				width:140px;

				.page-footer & {
					
					@extend .background-image--follow--gold;

				}

				&:hover {

					@extend .background-image--follow--gray--hover;

					.page-footer & {
					
						@extend .background-image--follow-gold;

					}

				}

			}

		}

		.social-menu--networks {
	
			width:100%;
			background:$theme-color-base;
			padding-top:20px;

		}

		.social-menu--network {

			width:70px;
			height:70px;

		}

		.social-menu--network a {
			
			@include background-image($background-size:40% 40%, $background-position:center top, $hide-inner:false);

			text-align: center;
			padding:40px 10px 10px 10px;
			font-size:13px;
			line-height:20px;
			color:$theme-color-tertiary;

			&:hover {

				color:$theme-color-primary;

			}
		
		}

	}

}